body{
    background-color: hsl(30, 38%, 92%);

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-radius: 10px;
    overflow: hidden;
    max-width: 34rem;
}
.text{
    padding: 25px;
    background-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    margin-top: -3px;
}
.button{
    color: rgb(255, 255, 255);
    background-color: darkcyan;
    border: none;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
}
.button:hover{
background-color: rgba(0, 139, 139, 0.75);
}
.ribbon-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
}
.title{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    margin-bottom: 10px;
    font-size: 1.875rem;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%); 
    margin-bottom: 10px;
}
.prices{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 15px;
}
.image{
    object-fit: contain;
}
@media (min-width:34rem){
    .container{
        flex-direction: row;
    }
    .text{
        height: 350px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .image{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}
